<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Administrator" />
            <allow roles="ExternalUser" />
          <allow roles="ExternalSaleAgent" />
          <allow roles="ExternalLoanAdmin" />
          <allow roles="ExternalAdmin" />
            <deny users="?" />
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>